
                * {
    outline: none;
    }   
      body{
           
           background-image:url(<?php echo $urlimg;?>),url(back.jpg.jpg);
           background-size: cover;
           background-repeat: no-repeat;
       }
       .d-inline-block{
           width: 180;
           position: static;
       }
       .container{
           padding-right: 0;
           padding-left: 0;
           margin-right: 0;
           margin-left: 0;
       }
       .form-group{
           position: relative;
           left: 275px;
           width: 80%;
           padding: 20px;
           background-color: rgb(0,0,0,0.2);
           border-radius: 40px;
           bottom: 20px;
       }
       label{color: white;}
       audio{display: block;z-index: 1;position: fixed; bottom: 2.8pc;width: 46pc;left: 34.8pc;}
       audio:focus{outline: none;}
       button{position: relative;outline: none; left: 53.2%; top: 147px; width: 32; height: 33px; border-radius: 50%;font-size: 20px; }
       #frm{position: absolute; left: 77%; width: 22%; top: 272;}
       .category {text-align-last: center;  display: block;width: 304; border: 1px solid #e9cf23; border-radius: 14px;z-index: 2;}
       .submit{margin: 23px;width: 213;height: 33px;border-radius: 20px; font-size: 19; position: relative; right: -19;background-color: antiquewhite;}
    .reload{position: fixed; left: 78%; bottom: 32.7pc; width: 120px;border: 1px solid #e9cf23; border-radius:21px;height:35px;font-size:20px;z-index: 1;} 
    .reload:hover{cursor: pointer;z-index: 1;}
    #artistname{position: fixed; left:75.4%;font-size: 26px;font-weight: 900;color: #b0a43d;bottom:0;text-align: right;}
    #songname{position: fixed;left:39%;bottom: 0;font-size: 26px;font-weight: 900;color: #b0a43d;text-align: right;}
    #urlimg{width: 150px;height: 150px;border-radius: 50%;position: absolute;bottom: 550;left: 41pc;transition: all 0.6s ease-in-out;}
    #urlimg:hover{bottom: 560;transform: rotate(360deg);}
    #lyrics{color: white;background-color: rgb(0,0,0,0.3);position: fixed;left: 562;width: 44.6pc;word-spacing: 10.6px;bottom:5.4pc; border-radius: 25px 24px 25px 25px; padding: 39px 20px 0px;}
    #lyrics1{display: none;}
    p{z-index: 200;}
    #urlimgg{width: 45px;border-radius: 15px;}
    #ll1{cursor: pointer;padding: 0;margin: 0;}
    .imgmore{width: 54;position: fixed;left: 78.6pc;top:38pc;cursor: pointer;}   

    nav {
            margin: 35px 0;
            background-color: transparent;
            width: 12.5pc;
            color: white;
            float: right;
            left: 81.5pc;
            position: absolute;
            bottom: 37.1pc;
            z-index: 3;
        }
        #picuser {
            width: 50px;
            z-index: 3;
        }

        nav ul {
            padding: 0;
            margin: 0;
            list-style: none;
            position: relative;
            z-index: 3;
        }

        nav ul li {
            display: inline-block;
            background-color: transparent;
            z-index: 3;
        }

        nav a {
            display: block;
            padding: 0 10px;
            color: #FFF;
            font-size: 20px;
            line-height: 60px;
            text-decoration: none;
            z-index: 3;
        }

        nav a:hover {
            background-color: #333;
            width: 12.9pc;
            text-decoration: none;
            color: white;
            z-index: 3;
        }

        nav ul ul {
            display: none;
            position: absolute;
            top: 60px;
            z-index: 3;
        }

        nav ul li:hover>ul {
            display: inherit;
            z-index: 3;
        }

        nav ul ul li {
            width: 208px;
            float: none;
            display: list-item;
            position: relative;
            z-index: 3;
        }

        nav ul ul ul li {
            position: relative;
            top: -60px;
            left: 200px;
            z-index: 3;
        }

        nav ul ul li {border: 1px solid white;z-index: 3;}
        li > a:after { content:  ' ▼';z-index: 3; }
        li > a:only-child:after { content: '';z-index: 3; }

        
        #next{width: 52px;position: relative;right: 1pc; bottom: 1pc;outline: none;}
        #pre{width: 52;transform: rotate(180deg); position: relative;right: 1pc; bottom: 1pc;outline: none;}
       #btnnext{position: fixed; left: 80.9pc;top: 42.3pc;background-image: url(https://img.icons8.com/bubbles/100/000000/fast-forward.png);outline: none;}
       #btnpre{position: fixed;top: 42.5pc;left: 32.3pc;background-image: url(https://img.icons8.com/bubbles/100/000000/fast-forward.png);outline: none;}
       table{ position: relative;top: -3pc;}
       thead{border: 1px solid white;background-color: antiquewhite;}
       tbody{background-color: rgb(0,0,0,0.3); color: white;}
       .table{width: 0;}
       #favlist{background-color: rgb(0,0,0,0.2); width: 13pc; position: absolute; left: 43pc; top: 18pc;height: 33px; color: white; font-weight: 600;border-radius: 21px; text-align-last: center;}
